body {
    background: url('bg5.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "Parkinsans", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .login-container {
        width: 90%;
        padding: 15px;
    }
    
    .login-form {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .login-header {
        font-size: 24px;
    }
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

form {
    backdrop-filter: blur(10px);
    background-color: rgba(32, 40, 58,0.15);; 
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    padding: 40px;
    width: 400px;
    max-width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: none;
    border: 1px solid rgba(102, 175, 233, 0.5);
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button[type="submit"] {
    background-color: rgba(32, 40, 58,0.4);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}

button[type="submit"]:hover {
    background-color: rgba(32, 40, 58,0.5);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);
}

@media (max-width: 480px) {
    form {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 25px;
    }
}
