*{
    box-sizing: border-box;
    margin: 2px 2px 2px;
    padding: 0px;
    /* font-family: sans-serif; */
}
body{
    background-color: rgb(38, 38, 38);
}
.main{
    background-color: rgba(20, 20, 20,0.5);
    border: 0.5px solid rgb(115, 115, 115);
    border-radius: 5px;
    z-index: 1;
}
.header{
    font-size: 18px;
    padding: 10px;
    font-family: "Parkinsans", sans-serif;
    color: rgb(255, 255, 255);
}
.toolbar{
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    flex-direction: row;
    gap: 20px;
    padding-top: 25px;
    padding-left: 5px;
    margin-bottom: 15px;
    color: white;
}
.tool_manager{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px
}
.tools{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    &:hover{
        background-color: rgb(50, 50, 50);
        cursor: pointer;
        border-radius: 2px;
    }
}
.tools img{
    margin-top: 8px;
    height: 20px;

}
#homee{
    height: 20px;
    margin-top: 8px;
}
.left_section{
    display: flex;
}
.editable-div{
    padding: 30px 20px 10px 20px;
    font-size: 16px;
    
    min-height: 83vh;
    background-color: rgba(0, 0, 0, 0.65);
    margin: 0px;
    padding-bottom: 15px;
    font-family: "Playwrite HU", cursive;
    &:focus{
        outline: none;
    }
    height: 100%;
    width: 100%;
    
}

#fontsize{
    &:hover{
        background-color: transparent;
    }
}
#fontSizeSelector{
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    &:focus{
        background-color: black;
        color: white;
    }
    &:hover{
        cursor: pointer;
    }
}
#colorpalleteli{
    font-size: 16px;
    &:hover{
        background-color: transparent;

    }
}
#img_icon{
    height: 30px;
}

#colorpallete{
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    &:focus{
        background-color: black;
        color: white;
    }
    &:hover{
        cursor: pointer;
    }
}


#title{
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    height: 30px;
    margin-bottom: 3%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    &:focus{
        outline: none;
    }
}

#title.placeholder {
    color: #888;
  }
#normal{
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: white;
    min-height: 350px;
    &:focus{
        outline: none;
    }
}
#normal.placeholder {
    color: #888;
  }
#butons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 15px;
    width: 30px;
    background-color: aqua;
}
#save{
    overflow-y: hidden;
    top: 20px;  
    float: right;
    background-color: rgb(35, 134, 54);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    &:hover {
        background-color: rgb(22, 82, 34);
        transition: 0.1s;}
}

#retreive{

    background-color: transparent;
    color: white;
    border: 1px solid rgb(115, 115, 115);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    &:hover{
        cursor: pointer;
        background-color: rgb(95, 94, 94);
        transition: 0.1s;
    }
}
#storage_clear{
    background-color: rgb(124, 23, 23);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    &:hover{
        cursor: pointer;
        background-color: rgb(66, 13, 13);
        transition: 0.1s;
    }
}

#normal img {
    max-width: 50%;
    max-height: 50%;
}

.placeholder {
    color: rgba(115, 115, 115,0.5);
  }

.bg{
    background-image: url("./bg5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
}

#riyal_save{
    background-color: rgb(35, 134, 54);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    margin-right: auto;
    margin-left: 85%;
    margin-top: -33.5%;
    position: absolute;
    &:hover{
        cursor: pointer;
        background-color: rgb(22, 82, 34);
        transition: 0.1s;
    }
}

