{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title> Note-Log </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{%static "css/bootstrap.css"%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "/css/style.css" %}" rel="stylesheet" />

  {% comment %} <link rel="shortcut icon" href="{% static "images/icon.png" %}" type="image/x-icon"> {% endcomment %}
<link rel="shortcut icon" href="{% static 'favicon/notes.png' %}" type="image/x-icon">



</head>

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src= "{% static "images/hero-bg.png" %}" alt="">
      </div>
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Note-Log
            </span>
          </a>
          <div id="loading-screen" style="display: none;">
            <div class="spinner"></div>
        </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link scroll-to" data-target="#about" style="&:hover{ cursor: pointer;}"> About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link scroll-to" data-target="#service"  style="&:hover{ cursor: pointer;}"> Services </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="register" style="&:hover{ cursor: pointer;}"> Register </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login" style="&:hover{ cursor: pointer;}"> Login </a>
              </li>
              <li class="nav-item">
                <a class="nav-link with-loading" href="notes"> <i class="fa fa-user" aria-hidden="true"></i> Go To Notes</a>
              </li>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
     
    <!-- slider section -->
    <section class="slider_section " id="Home">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Record <br>Thoughts
                    </h1>
                    <p>
                      Jot down what you feel, what u wanna do or what u did. Without the fear of being judged by anyone, share your inner and true feelings. Vent out what you feel, let out grudges, share about crushes. A perfect hearing companion
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static "images/slider-img.png" %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Format <br>
                      Text
                    </h1>
                    <p>
                    Format the thoughts you write down. We provide all the text formatting features including Bold, italic, underline and changing colours of particular texts. Also if u find yourself to have written something which should not be there, Undo option is for you.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static "images/slider-img.png" %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Save<br>
                      Notes
                    </h1>
                    <p>
                      Save your notes for another time to retreive and read them, to feel the nostalgia and relive the past memories. Some bitter some sweet, re-reading your notes is a great way to live the past when wanted. Also the timestamp feature lets you recored the real-time and date of your written note.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static "images/slider-img.png"%}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding" id="service">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>
          <p>
            There are many features included in our notes application
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static "images/one.png"%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Recording Thoughts
                </h5>
                <p>
                  Write down your thoughts with all the freedom and no fear of being judged. We encrypt user notes so even we cant read them. No restrains for spellcheck or word limit.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static "images/two.png"%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Format Text
                </h5>
                <p>
                  All features of a high end text editor are provided including bold, italic, underline and changing the color of the text. Undo features helps u travel back in time to your last steps until there are none left.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static "images/three.png" %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Save and Retreival
                </h5>
                <p>
                  Save your notes to read them another time, with just a click of a button u can retreive your old written notes. The time stamp provided also gives u currunt writing time which changes in real time.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="">
            View All
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding" id="about">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p>
          We have built a note-log which helps u record your thoughts and emotions and save them to read them another day.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static "images/four.png" %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              We Are Note-Log
            </h3>
            <p>
              Providing you all with a free note-logger cum text editor which allows you to fully express your feelings and edit the written notes as per your need
            </p>
            <p>
              Also you can add images and audio files associated with what you are writing, Given the ability to save and retreive your notes on demand along with timestamp.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

   
  

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
              This note log is made by first years at Chitkara University, Rajpura and they aim to keep updating it regularly until they can make it the best note log.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
                <a class="nav-link scroll-to" data-target="#Home">Home</a>
                <a class="nav-link scroll-to" data-target="#about"> About </a>
                <a class="nav-link scroll-to" data-target="#service"> Services </a>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col ">
          <h4>
            Subscribe
          </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>



</body>

<!-- Add jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Add Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<script>
  document.querySelectorAll('.scroll-to').forEach(link => {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      const targetId = this.getAttribute('data-target');
      const targetElement = document.querySelector(targetId);
      targetElement.scrollIntoView({ behavior: 'smooth', block: 'start' });
    });
  });

// Add an event listener to all links with the 'with-loading' class
document.querySelectorAll('a.with-loading').forEach(link => {
    link.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default action (navigating immediately)

        // Show the loading screen
        document.getElementById('loading-screen').style.display = 'flex';

        // Wait for 2 seconds before navigating to the new page
        setTimeout(() => {
            window.location.href = this.href;
        }, 2000); // Change the delay time if needed
    });
});

// Add this to your existing script section
document.addEventListener('DOMContentLoaded', function() {
  // Close mobile menu when a link is clicked
  document.querySelectorAll('.navbar-nav .nav-link').forEach(link => {
    link.addEventListener('click', function() {
      if (window.innerWidth < 992) {
        document.querySelector('.navbar-toggler').click();
      }
    });
  });

  // Add smooth scrolling with offset for fixed header
  document.querySelectorAll('.scroll-to').forEach(link => {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      const targetId = this.getAttribute('data-target');
      const targetElement = document.querySelector(targetId);
      
      // Calculate header height for offset
      const headerHeight = document.querySelector('.header_section').offsetHeight;
      
      // Scroll with offset
      const offsetPosition = targetElement.offsetTop - headerHeight;
      
      window.scrollTo({
        top: offsetPosition,
        behavior: 'smooth'
      });
    });
  });

  // Optimize loading screen for mobile
  document.querySelectorAll('a.with-loading').forEach(link => {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      
      // Show the loading screen
      document.getElementById('loading-screen').style.display = 'flex';
      
      // Add a timer to prevent infinite loading on slow connections
      const timeoutId = setTimeout(() => {
        window.location.href = this.href;
      }, 5000); // Fallback after 5 seconds
      
      // Regular timer
      setTimeout(() => {
        clearTimeout(timeoutId);
        window.location.href = this.href;
      }, 2000);
    });
  });
});

</script>

</html>