{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/css/login.css" %}">
<link rel="shortcut icon" href="{% static 'favicon/notes.png' %}" type="image/x-icon">
<style>
    a::before {
        color: #555;
      }
      
      a::after {
        content: " →";
        color: #007BFF;
        transition: margin-left 0.3s;
      }
      
      a:hover::after {
        margin-left: 5px;
      }
      
</style>
    <title>login</title>
</head>
<body>
    <form method="post">
    <h2>Welcome Back</h2>
    {% csrf_token %}
    {{ form.as_p }}
    Don't have an account? <a href="{%url "register"%}">Register</a>

    <button type="submit">Sign In</button>
</form>

</body>
</html>