{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Playwrite+HU:wght@100..400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static "/css/styles1.css"%}">





</head>
<body>
    
    <div class="editor-container">
        <div class="main">
            <div class="header">
                <div class="header-title">Record your thoughts: {{ user.username }}</div>
                <button type="submit" onclick="saveContent()" id="save-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="save-icon">
                        <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                        <polyline points="17 21 17 13 7 13 7 21"></polyline>
                        <polyline points="7 3 7 8 15 8"></polyline>
                    </svg>
                    Save Note
                </button>
            </div>
            <div class="toolbar">
                <div class="left_section">
                    <ul class="tool_manager">
                        <li class="tools">
                            <a href="{% url 'inner_home' %}" class="tool-link">
                                <img src="{% static '/svgs/home.svg' %}" alt="" class="tool_icons" id="homee">
                            </a>
                        </li>
                        <li class="tools">
                            <button class="tool-button" onclick="document.execCommand('bold')">
                                <img src="{% static '/svgs/bold.svg' %}" alt="" class="tool_icons">
                            </button>
                        </li>
                        <li class="tools">
                            <button class="tool-button" onclick="document.execCommand('underline')">
                                <img src="{% static '/svgs/underline.svg' %}" alt="" class="tool_icons">
                            </button>
                        </li>
                        <li class="tools">
                            <button class="tool-button" onclick="document.execCommand('italic')">
                                <img src="{% static '/svgs/italic.svg' %}" alt="" class="tool_icons">
                            </button>
                        </li>
                        <li class="tools">
                            <button class="tool-button" onclick="document.execCommand('undo')">
                                <img src="{% static '/svgs/undo.svg' %}" alt="" class="tool_icons">
                            </button>
                        </li>                
                        <li class="tools" id="clear">
                            <button class="tool-button">
                                <img src="{% static '/svgs/delete.svg' %}" alt="" class="tool_icons">
                            </button>
                        </li>                
                        <li class="tools" id="fontsize">
                            <div class="select-wrapper">
                                <img src="{% static 'svgs/text.svg' %}" alt="" class="tool_icons">
                                <select id="fontSizeSelector" class="tool_icons">
                                    <option value="14px">14px</option>
                                    <option value="16px" selected>16px</option>
                                    <option value="18px">18px</option>
                                    <option value="20px">20px</option>
                                    <option value="24px">24px</option>
                                    <option value="28px">28px</option>
                                </select>
                            </div>
                        </li>
                        <li class="tools" id="colorpalleteli">
                            <div class="select-wrapper">
                                <img src="{% static 'svgs/color.svg' %}" alt="" class="tool_icons">
                                <select id="colorpallete" onchange="changeTextColor(this.value)">
                                    <option value="white">White</option>
                                    <option value="red">Red</option>
                                    <option value="blue">Blue</option>
                                    <option value="yellow">Yellow</option>
                                    <option value="green">Green</option>
                                </select>
                            </div>
                        </li>
                        <li class="tools" id="img_add">
                            <div class="image-upload">
                                <button class="tool-button">
                                    <img src="{% static '/svgs/add_img.svg' %}" alt="Upload Icon" class="tool_icons" id="img_icon">
                                </button>
                                <input type="file" id="imageInput" style="display: none;" accept="image/*">
                            </div> 
                        </li> 
                        <li class="tools" id="audio-upload">
                            <div class="audio-upload">
                                <button class="tool-button">
                                    <img id="uploadAudioIcon" src="{% static '/svgs/music.svg' %}" alt="Audio Icon">
                                </button>
                                <input type="file" id="audioInput" style="display: none;" accept="audio/*">
                            </div>
                        </li> 
                        <li class="tools" id="theme-selector">
                            <button class="tool-button" id="theme-button">
                                <img src="{% static '/svgs/palette.svg' %}" alt="Themes" class="tool_icons">
                            </button>
                            <div class="theme-dropdown" id="theme-dropdown">
                                <div class="theme-option" data-theme="default">
                                    <div class="theme-preview" style="background-image: url('{% static '/themes/default.jpg' %}')"></div>
                                    <span>Serenity Bloom</span>
                                </div>
                                <div class="theme-option" data-theme="nature">
                                    <div class="theme-preview" style="background-image: url('{% static '/themes/nature.jpg' %}')"></div>
                                    <span>Urban Haze</span>
                                </div>
                                <div class="theme-option" data-theme="abstract">
                                    <div class="theme-preview" style="background-image: url('{% static '/themes/abstract.jpg' %}')"></div>
                                    <span>Skyline Swing</span>
                                </div>
                                <div class="theme-option" data-theme="minimal">
                                    <div class="theme-preview" style="background-image: url('{% static '/themes/minimal.jpg' %}')"></div>
                                    <span>Celestial Drift</span>
                                </div>
                                <div class="theme-option" data-theme="love">
                                    <div class="theme-preview" style="background-image: url('{% static '/themes/love.jpg' %}')"></div>
                                    <span>Whispers of the Heart</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        
        <hr>
        
        <div class="bg">
            <div class="editable-div" id="message" name="message" placeholder="Express your thoughts and feelings here" required>
                
                <form method="POST" action="{% url 'save_note' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
            <div id="title" contenteditable="true" spellcheck="false" class="placeholder"></div>
            <input type="hidden" id="note-title" name="title">
            <div id="normal" contenteditable="true" spellcheck="false" class="placeholder"></div>
            <input type="hidden" id="note-content" name="content">
            {% comment %} <button type="submit" onclick="saveContent()" id="riyal_save">Save Note</button> {% endcomment %}
        </form>
        </div>
    </div>
    </div>
    <div class="footer"></div>
</div>
    </div>
</body>
<script>
    function saveContent() {
        var title = document.getElementById('title').innerHTML;
        document.getElementById('note-title').value = title;
        var content = document.getElementById('normal').innerHTML;
        document.getElementById('note-content').value = content;  

    }
    </script>
<script src="{% static "note_script.js"%}"></script>
</html>
